html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; /* Ensure it spans the entire viewport height */
    background-image: url('../img/Curtains2.png'); /* Set the background image */
    background-size: cover; /* Make the image cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image fixed in its position */
}

@font-face {
    font-family: 'Young 20'; /* Name of the font */
    src: url('../crescendo-font/Crescendo-514Pa.ttf') format('truetype'); /* Path to the .ttf file */
}

.container {
    margin-left: 17%;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    display: flex;
}

.container h1{
    color: rgba(242, 202, 136, 0.95);
    text-align: center;
    font-size: 40px;
    font-family: 'Young 20';
}

.container h2{
    color: rgba(242, 202, 136, 0.95);
    text-align: center;
    font-size: 30px;
    font-family: 'Young 20';
    margin-bottom: 170px;
}

.container img{
    margin-left: 22px;
    max-height: 400px;
}

.fifth{
    margin-top: 200px;
    margin-right: 50px;
    width: 150px;
}

.fifth img{
    margin-bottom: 50px;
}

.fourth{
    margin-top: 150px;
    margin-right: 50px;
    width: 150px;
}

.fourth img{
    margin-bottom: 100px;
}

.third{
    margin-top: 100px;
    margin-right: 50px;
    width: 150px;
}

.third img{
    margin-bottom: 150px;
}

.second{
    margin-top: 50px;
    margin-right: 50px;
    width: 150px;
}

.second img{
    margin-bottom: 200px;
}

.first{
    margin-top: 0px;
    margin-right: 50px;
    width: 150px;
}

.first img{
    margin-bottom: 250px;
}

.citations {
    position: fixed; /* Keep the element fixed relative to the viewport */
    bottom: 20px;    /* Distance from the bottom of the viewport */
    right: 30px;     /* Distance from the right of the viewport */
    z-index: 4;      /* Ensure it appears above other elements if needed */
}

.menu {
    position: absolute;
    left: 30px;
    top: 20px;
    width: fit-content; /* Adjust to fit the image */
    margin: auto; /* Center the menu on the page if desired */
    z-index: 4;
}

.menu-image {
    display: block; /* Ensures the image is displayed as a block */
    width: 100%; /* Image fills the container */
}

.menu-link {
    position: absolute; /* Position links on top of the image */
    top: 0; /* Align the links with the top of the container */
    height: 100%; /* Full height of the image */
    text-decoration: none; /* Remove underline from links */
    color: transparent; /* Hide link text */
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
}