html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; /* Ensure it spans the entire viewport height */
    overflow: hidden; /* Prevent scrolling */
    background-image: url('../img/Curtains.png'); /* Set the background image */
    background-size: cover; /* Make the image cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

@font-face {
    font-family: 'Young 20'; /* Name of the font */
    src: url('../crescendo-font/Crescendo-514Pa.ttf') format('truetype'); /* Path to the .ttf file */
}

.announcement {
    position: absolute;
    left: 33%;
    bottom: 35%;
    width: 30%;
    background-color: white; /* White background */
    border-radius: 15px; /* Rounded corners */
    padding: 30px; /* Add padding inside the div */
}

.announcement h1 {
    font-family: 'Young 20'; /* Apply the custom font */
    font-size: 3rem; /* Adjust font size as needed */
    color: rgba(242, 202, 136, 0.95); /* Optional styling */
    text-align: center;
}

.citations {
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 4;
}

.menu {
    position: absolute;
    left: 30px;
    top: 20px;
    width: fit-content; /* Adjust to fit the image */
    margin: auto; /* Center the menu on the page if desired */
    z-index: 4;
}

.menu-image {
    display: block; /* Ensures the image is displayed as a block */
    width: 100%; /* Image fills the container */
}

.menu-link {
    position: absolute; /* Position links on top of the image */
    top: 0; /* Align the links with the top of the container */
    height: 100%; /* Full height of the image */
    text-decoration: none; /* Remove underline from links */
    color: transparent; /* Hide link text */
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
}